@import "tailwindcss";
@plugin "daisyui";

/* globals.css */
body {
  font-family: "Poppins", sans-serif;
}
.home-padding {
  padding: 0 10px;
}

@media (min-width: 640px) {
  .home-padding {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .home-padding {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .home-padding {
    padding: 0 80px;
  }
}

@media (min-width: 1280px) {
  .home-padding {
    padding: 0 130px;
  }
}

@media (min-width: 1536px) {
  .home-padding {
    padding: 0 130px;
  }
}

.home-margin {
  margin-top: 10px;
}
