@import "tailwindcss";
@plugin "daisyui";

/* globals.css */
body {
  font-family: "Poppins", sans-serif;
}

.home-margin {
  margin-top: 10px;
}
/* Hides scrollbar on WebKit browsers */
::-webkit-scrollbar {
  display: none;
}
